version: "3.3"
services:
  beaver-triple-service:
    container_name: beaver-triple-service
    {%- set bts_image = "ghcr.io/acompany-develop/quickmpc-bts" %}
    {%- if qmpc_setting['bts']['tag'] %}
      {%- set bts_image = bts_image ~ ':' ~ qmpc_setting['bts']['tag'] %}
    {%- endif %}
    image: {{ bts_image }}
    build:
      context: {{ docker_context }}
      dockerfile: packages/server/beaver_triple_service/Dockerfile
      target: dep-runner
      cache_from:
        - type=registry,ref={{ bts_image }}
    env_file:
      - {{ envs.others['beaver-triple-service']['.env'].__path__ }}
      - {{ envs.others['jwt-envs']['client.jwt.env'].__path__ }}
      - {{ envs.others['jwt-envs']['server.jwt.env'].__path__ }}
    expose:
      - "50020"
    networks:
      shared-network:
        aliases:
          - beaver-triple-service
        ipv4_address: 10.0.1.40
    command: ["/bin/bash", "-c", "./beaver_triple_service"]
    healthcheck:
      test:
        - CMD
        - /bin/sh
        - -c
        - |-
          /bin/grpc_health_probe \
            -addr=:50020 \
            -rpc-header=authorization:"bearer $$BTS_TOKEN"
      interval: 3s
      timeout: 5s
      start_period: 5s
  beaver-triple-service-envoy:
    tty: true # 起動しっぱなし
    image: envoyproxy/envoy:v1.17.1
    volumes:
      - type: bind
        source: {{ envs.others['beaver-triple-service']['envoy.yaml'].__path__ }}
        target: /etc/envoy/envoy.yaml
    ports:
      - "0.0.0.0:51020:51020"
    networks:
      shared-network:
        ipv4_address: 10.0.1.21
    command: ["/bin/sh", "-c", "/usr/local/bin/envoy -c /etc/envoy/envoy.yaml"]
    labels:
      kompose.service.type: "nodeport"
      kompose.service.nodeport.port: 31020
      kompose.service.external-traffic-policy: "local"


networks:
  shared-network:
    external: true
