.DS_Store
bazel-QuickMPC
bazel-bin
bazel-out
bazel-testlogs
bazel-tools
.bazel
result

**/vendor

**/db/**/data/*
**/db/**/nodestatus/initialized

!.gitkeep
packages/server/computation_container/setup.sh
packages/server/computation_container/.vscode/c_cpp_properties.json

**/.cache/**
**/compose-bundle.zip
!.gitkeep
packages/server/computation_container/start.dev.sh
packages/server/manage_container/start.dev.sh
packages/server/_DbContainer/DbGate/start.dev.sh

__pycache__

Deploy/Application/config/Party*

!**/db/**
**/db/*/**
!**/db/**/.gitkeep
