.DS_Store
bazel-QuickMPC
bazel-bin
bazel-out
bazel-testlogs
bazel-tools
.bazel
result

packages/server/ManageContainer/vendor
packages/server/ManageContainer/ManageContainer

packages/server/DbContainer/DbGate/vendor
packages/server/DbContainer/DbGate/DbGate
packages/server/DbContainer/DbGate/bench/log/*

**/Db/**/data/*
**/Db/**/nodestatus/initialized

!.gitkeep
packages/server/ComputationContainer/setup.sh
packages/server/ComputationContainer/.vscode/c_cpp_properties.json

**/.cache/**
**/compose-bundle.zip
!.gitkeep
packages/server/ComputationContainer/start.dev.sh
packages/server/ManageContainer/start.dev.sh
packages/server/_DbContainer/DbGate/start.dev.sh

__pycache__

Deploy/Application/Config/Party*

!**/Db/**
**/Db/*/**
!**/Db/**/.gitkeep
