.DS_Store
bazel-QuickMPC
bazel-bin
bazel-out
bazel-testlogs
bazel-tools
.bazel
result

src/ManageContainer/vendor
src/ManageContainer/ManageContainer

src/DbContainer/DbGate/vendor
src/DbContainer/DbGate/DbGate
src/DbContainer/DbGate/bench/log/*

**/Db/**/data/*
**/Db/**/nodestatus/initialized

!.gitkeep
src/ComputationContainer/setup.sh
src/ComputationContainer/.vscode/c_cpp_properties.json

**/.cache/**
**/compose-bundle.zip
!.gitkeep
src/ComputationContainer/start.dev.sh
src/ManageContainer/start.dev.sh
src/_DbContainer/DbGate/start.dev.sh

__pycache__

Deploy/Application/Config/Party*
