[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quickmpc = {path = "./../../packages/client/libclient-py/"}
tabulate = "*"
[dev-packages]

[requires]
python_version = "3.7"
