.output/*
config/party*
docker-compose/*
kompose/*
manifests/*
build/*

**/.terraform/*
*.terraform*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/.key_pair/*

gcp/json/*.json