BasedOnStyle: Google
IndentWidth: 4
Language: Cpp
Standard: c++17
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeComma
BinPackParameters: false
BinPackArguments: false
SortIncludes: true
AccessModifierOffset: -4
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 100
BreakBeforeBraces: Allman
