[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
quickmpc = {path = "./../../packages/client/libclient-py"}

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.10"
